@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.login-left-bg{
  background-image: url(../src/assets/images/bg-login.png);
  background-position: right;
  background-size: cover;
}

._remove_bar::-webkit-scrollbar,
._invoice_table::-webkit-scrollbar,
._invoice_table *::-webkit-scrollbar
{
 display: none;
}

/* Hide scrollbar for all child elements (if needed) */
._invoice_table *::-webkit-scrollbar {
  display: none;
}

iframe{
  width: 100% !important;
}
._refresh_btn:hover *{
  color: #fff !important;
  fill: #fff !important;
}


.hide_scrollbar::-webkit-scrollbar,
.hide_scrollbar::-webkit-scrollbar-thumb{
  display: none !important;
  width: 0;
}
._not_clickable_table tr,._not_clickable_table td
{
  background-color: #fff !important;
  cursor: default !important;
}

._not_clickable_table tr:active,._not_clickable_table td:active{
  opacity: 1 !important;
}
/*.rs__popper_actions .css-nl6has{
  display: none !important;
}
*/

._profile_left_item:hover *{
  color: #fff;
  fill: #fff;
}


._download_box{
  animation: flash 1s linear infinite;
}

@keyframes flash {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
  
  100% {
    opacity: 1;
  }
}


@media print {
  
  
  *::-webkit-scrollbar {
    display: none;
  }

  ._print {
    display: block;
    opacity: 1 !important;
    width: 100%;
    background: #fff;
    z-index: 99;
    margin: 0;
    padding: 0;
    position: relative; 
    overflow: visible; 
  }

  body {
    padding: 0;
    margin: 0;
    background: #fff;
    width: 100%;
  }

  body * {
    visibility: hidden;
  }

  ._print, ._print * {
    visibility: visible;
  }

 
}




.css-ncbr6b{
  z-index: 2 !important;
}




.divide{
  display: flex;
}
.divide .right{
  padding: 2rem;
  max-width: 1200px;
}

.divide .right .section-item h2{
  font-size: 1.4rem;
  margin-top: 2rem;
  margin-bottom: 0.8rem;
}
.divide .right .section-item p{
  color: #374151;
  margin-bottom: 1rem;
}
.divide .right .section-item a{
  text-decoration: underline;
}
.divide ul,.divide ol{
  list-style: initial;
  list-style-type: initial;
  padding-left: 2rem;
  margin:1.2rem 0;

}
.divide ul li{
  margin-bottom: 0.8rem;
}

.divide strong{
  opacity: 0.7;
}

.full-text{
  padding:4rem 2rem;

}




/***lading page***/


._menu_item:hover ._menu_dropdown{
  opacity: 1 !important;
  pointer-events: visible;
  transform: translateY(0) !important;
}
._menu_item:hover svg {
  transform: rotate(180deg);
}


._watermark{
   transform: rotate(-45deg) translateX(-50%);
   left: 50%;
}

